<div class="container-fluid">
  <div class="row">
    <div class="user_profile col-md-12">
      <br />

      <div class="avatar_bar col-md-2">
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.avatar, width: 140, height: 140 if @user.avatar? %>
          <div class="avatar_name"><%= @user.name %></div>
        <% end %>
      </div>
      <div class="profile_right col-md-10">
        <div class="profile_top">
          <div class="content"><%= @user.intro %></div>
        </div>
        <div class="profile_bottom">
          <% if @user == current_user %>
            <div class="title_button pull-right">
              <%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" %>
            </div>
          <% else %>
              <!-- friend link button -->
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<br />

<%= render partial: "shared/navtab", locals: { user: @user } %>

<br />
<div class="container-fluid watting_for_response">
  <h3 class="text-center">
    Waiting for response
  </h3>
  <div class="row" id="wait-friend">
    <% @request_friends.each do |user| %>

      <% unless @user.friend?(user) %>
        <div class="avatar_bar col-md-2" id="user-<%= user.id %>"><!-- Ajax prepare -->
          <%= link_to user_path(user) do %>
            <%= image_tag user.avatar, width: 80, height: 80 if user.avatar? %>
            <div class="avatar_name"><%= user.name %></div>
          <% end %>
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>
<div class="container-fluid friendship_request_area">
  <h3 class="text-center text-white">
    Friendship request
  </h3>
  <div class="row" id="unaccept-friend">
    <% @inverse_request_friends.each do |user| %>

      <!-- 貼回起點 -->
      <%= render partial: "shared/friend_item", locals: { user: user } %>
      <!-- 貼回終點 -->

    <% end %><!-- each do end -->
  </div>
</div>

<div class="container-fluid friend_list">
  <h3 class="text-center">
    Friend List
  </h3>
  <div class="row" id="friend">
    <% @friends.each do |user| %>
      <div class="avatar_bar col-md-2" id="user-<%= user.id %>"><!-- Ajax prepare -->
        <%= link_to user_path(user) do %>
          <%= image_tag user.avatar, width: 80, height: 80 if user.avatar? %>
          <div class="avatar_name"><%= user.name %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>