<%= render partial: "shared/user_info", locals: { user: @user } %>
<%= render partial: "shared/navtab", locals: { user: @user } %>

<div class="container-fluid watting_for_response">
  <h3 class="text-center">
    Waiting for response
  </h3>
  <div class="row" id="wait-friend">
    <% @request_friends.each do |user| %>
      <%# request_friend(user) %><!-- 45~49行替換此行。helper 用完變置中怪怪der => 沒顯示出來但還是佔位，參數給的不夠？ -->
      <% unless @user.friend?(user) %><!-- 已成朋友後，不顯示請求 -->
        <div class="col-md-2" id="user-<%= user.id %>">
          <%= render partial: "shared/user_item", locals: { user: user } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid friendship_request_area">
  <h3 class="text-center text-white">
    Friendship request
  </h3>
  <div class="row" id="unaccept-friend">
    <% @inverse_request_friends.each do |user| %>
      <% unless @user.friend?(user) %><!-- 已成朋友後，不顯示請求 -->
        <div class="col-md-2" id="user-<%= user.id %>">
          <%= render partial: "shared/user_item", locals: { user: user } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid friend_list">
  <h3 class="text-center">
    Friend List
  </h3>
  <div class="row" id="friend">
    <% @friends.each do |user| %>
      <div class="col-md-2" id="user-<%= user.id %>">
        <%= render partial: "shared/user_item", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>