<%= render partial: "shared/user_info", locals: { user: @user } %>
<%= render partial: "shared/navtab", locals: { user: @user } %>

<div class="container">
  <div class="row">
    <table class="table table-hover">
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="post_title" data-link="<%= post_path(post) %>"><%= post.title %></td>
            <td class="post_title" data-link="<%= post_path(post) %>">Published</td>
            <td class="post_title" data-link="<%= post_path(post) %>"><%= post.updated_at.strftime("%Y-%m-%d") %></td>
            <td>
              <%= render partial: "shared/edit_buttons", locals: { post: post } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @user == current_user %>
      <div class="title_button">
        <%= link_to "New Post", new_post_path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>