<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li role="presentation"<%= 'class=active' if current_page?(user_path) %>><!-- 注意 class=active 括號位置 -->
          <!-- 注意 active 屬性掛在 lint_to 後面無效 -->
          <%= link_to "My Post", user_path(user), class: "nav-link bg-light" %>
        </li>
        <li role="presentation"<%= 'class=active' if current_page?(comments_user_path) %>>
          <%= link_to "My Comment", comments_user_path(user), class: "nav-link bg-light" %>
        </li>
        <li role="presentation"<%= 'class=active' if current_page?(collections_user_path) %>>
          <%= link_to "My Collect", collections_user_path(user), class: "nav-link bg-light" %>
        </li>
        <li role="presentation"<%= 'class=active' if current_page?(drafts_user_path) %>>
          <%= link_to "My Draft", drafts_user_path(user), class: "nav-link bg-light" %>
        </li>
        <li role="presentation"<%= 'class=active' if current_page?(friends_user_path) %>>
          <%= link_to "My Friend", friends_user_path(user), class: "nav-link bg-light" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<br/>