<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Title", class: "form-control bg-light" %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control bg-light", rows:"10" %>
        </div>

        <!-- File Upload botton -->
        <!-- <div class="form-group"> -->
          <%# f.file_field :image %>
        <!-- </div> -->
        <!-- <br /> -->
        <!-- File Upload botton end -->
        <label class="btn btn-default upload_button">
          File
          <spna style="display: none">
            <%= f.file_field :image %>
          </spna>
        </label>

        <div class="form-group">
          <!-- 水平排列失效待修 -->
          <div class="form-check form-check-inline">
            Who Can See
          </div>
          <div class="input">
            <%= radio_button :post, :authority, "all", { checked: true } %>
            <%= label_tag :All, "All" %>
          </div>
          <div class="input">
            <%= radio_button :post, :authority, "friend" %>
            <%= label_tag :Friend, "Friend" %>
          </div>
          <div class="input">
            <%= radio_button :post, :authority, "myself" %>
            <%= label_tag :Myself, "Myself" %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check form-check-inline">
            Category
          </div>
          <div class="form-check form-check-inline">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {}, {multiple: true, class: "form-check-input"} do |c| %>
              <%= c.label(class: "form-check-label") { c.check_box(class: "form-check-input") + c.text } %>&nbsp;&nbsp;
            <% end %>
          </div>
        </div>

        <div class="form-check form-check-inline">
          Status:
        </div>

        <%# multi submit %>
        <div class="form-group">
          <%= f.submit "Save Draft", name: "draft", class: "btn btn-default" %>
          <%= f.submit "Submit", name: "public", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>