<div class="container-fluid">
  <div class="row">
    <div class="user_profile col-md-12">

      <section class="text-center col-md-2"><!-- avatar -->
        <%= link_to user_path(user) do %>
          <%= image_tag user.avatar, width: 140, height: 140 if user.avatar? %>
          <div class="avatar_name"><%= user.name %></div>
        <% end %>
      </section>
      <section class="profile_right col-md-10 clearfix">
        <div class="content<%= ' margin_for_user_btn' if user_button?(user) %>"><%= user.intro %></div>

        <div class="float_r_b">
          <% if user == current_user %>
            <div class="user_button">
              <%= link_to "Edit", edit_user_path(user), class: "btn btn-default" %>
            </div>
          <% elsif !current_user.inverse_request_friend?(user) %><!-- 加顯示條件：阻檔 inverse_request 顯示 -->
            <div class="friend_button" id="user-<%= user.id %>"><!-- 此處pull-right強過 CSS 置中設定 -->
              <%= render partial: "shared/friend_button", locals: { user: user } %>
            </div>
          <% end %>
        </div>
      </section>

    </div>
  </div>
</div>