<div class="container">
  <div class="row">
    <nav class="category_bar clearfix">
      <div class="button_set">
        <div class="btn btn-default fixed_width_button">
          <% if @category %>
            <%= link_to "All", posts_path, class: "nav-link" %>
          <% else %>
            <%= link_to "All", posts_path, class: "nav-link active" %>
          <% end %>
        </div>

        <% @categories.each do |category| %>
          <%# 注意內包 css div 非外包 %>
          <div class="btn btn-default fixed_width_button">
            <% if @category && category.id == @category.id %>
              <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link active" %>
            <% else %>
              <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link" %>
            <% end %>
          </div>
        <% end %>

      </div>
    </nav>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Replies count</th>
          <th>Title</th>
          <th>Last replied at</th>
          <th>Viewed count</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr data-link="<%= post_path(post) %>">
            <td><%= post.comments_count %></td>
            <th><%= post.title %></th>
            <td><%# post.comments.last.created_at.strftime("%Y-%m-%d") if post.comments.present?  %></td>
            <td><%= post.viewed_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= paginate @posts %>
    </div>>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
