<div id="title_banner" class="clearfix">
  <div class="container">
    <div class="banner_title"><p><%= @post.title %></p></div>
    <div class="title_buttons">
      <div class="title_button"><!-- 不用 button tag -->
        <%= render partial: "shared/collect_comment_button", locals: { post: @post } %>
      </div>
      <div class="title_button">
        <%= link_to "Comment", comments_user_path(current_user), class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- post -->
    <div class="post_bar col-md-12">
      <div class="avatar_bar col-md-2">
        <div><%= image_tag @post.user.avatar, width: 140, height: 140 if @post.user.avatar? %></div>
        <div class="avatar_name"><%= @post.user.name %></div>
        <!-- Friend button -->
        <% if @post.user != current_user && !@post.user.friend?(current_user) && !current_user.request_friend?(@post.user) %>
          <div class="friend_button">
            <%= link_to "Friend", friendships_path(friend_id: @post.user), class: "btn btn-primary", method: :post %>
          </div>
        <% end %>
        <!-- Friend button -->
      </div>

      <div class="image_bar col-md-10">
        <div><%= image_tag @post.image, width: 500 if @post.image? %></div>
        <br />
        <div class="content"><%= @post.content %></div>
        <!-- post edit destroy button -->
        <% if @post.user == current_user || current_user.admin? %>
          <div class="post_buttons pull-right">
            <%= link_to edit_post_path(@post) do %>
              <i class="fa fa-edit fa-2x"></i>
            <% end %>
            <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure？" } do %>
              <i class="fa fa-trash fa-2x"></i>
            <% end %>
          </div>
        <% end %>
        <!-- post edit destroy button end -->
      </div>
    </div>

    <!-- comments new version -->
    <div class="col-md-12">
      <% @comments.each do |comment| %>
        <div class="comment_bar col-md-12"><!-- 內包不然會重疊 -->
          <br />
          <div class="avatar_bar col-md-2">
            <div><%= image_tag comment.user.avatar, width: 140, height: 140 if comment.user.avatar? %></div>
            <div class="avatar_name"><%= comment.user.name %></div>
            <!-- add Friend button -->
            <% if @post.user != current_user && !@post.user.friend?(current_user) && !current_user.request_friend?(@post.user) %>
              <div class="friend_button">
                <%= link_to "Friend", friendships_path(friend_id: comment.user), class: "btn btn-primary", method: :post %>
              </div>
            <% end %>
            <!-- add Friend button -->
            <br />
          </div>

          <div class="image_bar col-md-10">
            <div class="content"><%= comment.content %></div>
            <!-- comment edit destroy button -->
            <% if comment.user == current_user || current_user.admin? %>
              <div class="comment_buttons pull-right">
                <%# link_to edit_comment_post_path(@post, comment_id: comment.id), remote: true %>
                <%= link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure？" } do %>
                  <i class="fa fa-trash fa-2x"></i>
                <% end %>
              </div>
            <% end %>
            <!-- comment edit destroy button end -->
          </div><!-- image_bar end -->
        </div>
      <% end %>

      <!-- comment 分頁 -->
      <div class="text-center">
        <%= paginate @comments %>
      </div>
    </div>

    <!-- 回文區 -->
    <div class=id="comments">
      <div class="col-sm-12">
        <%= form_for [@post, @comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "Add comment！", class: "form-control bg-light", rows: "10" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>