<div id="title_banner" class="clearfix">
  <div class="container">
    <div class="banner_title"><p><%= @post.title %></p></div>
    <div class="title_buttons">
      <div class="title_button">
        <%= render partial: "shared/collect_button", locals: { post: @post } %>
        <a href="#post-comment" class="btn btn-primary">Comment</a>
      </div>
    </div>
  </div>
</div><!-- title_banner end -->

<div id="post">
  <div class="container">
    <div class="post_user_info clearfix">
      <%= render partial: "shared/post_user_info", locals: { user: @post.user } %>
    </div>

    <div class="post_info clearfix">
      <%= render partial: "shared/post_info", locals: { user: @post.user } %>
    </div>
  </div><!-- container end -->
</div><!-- post end -->

<hr>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comments">
      <div class="comment_container clearfix">
        <div class="comment_user_info">
          <%= render partial: "shared/post_user_info", locals: { user: comment.user } %>
        </div>
        <div class="comment_info">
          <%= render partial: "shared/comment_info", locals: { comment: comment } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <!-- comment 分頁 -->
    <div class="text-center">
      <%= paginate @comments %>
    </div>

    <!-- 回文區 -->
    <div id="post-comment">
      <div class="col-sm-12">
        <%= form_for [@post, @comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "Add comment！", class: "form-control bg-light", rows: "10" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>

  </div><!-- row end -->
</div><!-- container end -->