<header id="header">
  <div class="container">
    <nav>
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag("logo.png") %><!-- app/assets/images/logo.png -->
        <% end %>
      </div>

      <!-- menu -->
      <div class="navbar" id="myNavbar">
        <ul>
          <li><%= link_to "Feeds", feeds_path %></li>
          <li><%= link_to "All Post", root_path %></li>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><!-- 管理者登入顯示後台連結 -->
            <% if current_user && current_user.admin? %>
              <%= link_to admin_categories_path do %>
                <%= "Back-End" %> <i class="fa fa-users"></i>
              <% end %>
            <% end %>              
          </li>
          <li class="icon" onclick="navBarToogle()"><a href="javascript:void(0);" >&#9776;</a></li>
        </ul>
      </div>

      <!-- 頭像連結個人頁面 profile -->
      <div id="profile">
        <% if current_user %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.avatar, height: 50, width: 50 if current_user.avatar? %>
          <% end %>
        <% end %>
      </div>

      <!-- devise logout -->
      <ul class="nav-right">
        <li>
          <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= "Logout" %> <i class="fa fa-sign-out"></i>
            <% end %>
          <% else %>
            <%= link_to 'Change Password', edit_user_registration_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div><!-- container end -->
  <!-- token -->
  <%# if current_user %>
    <%# current_user.authentication_token  %>
  <%# end %>
</header>

<div class="nav_margin"></div><!-- div collapse -->

<script>
  function navBarToogle() {
    var x = document.getElementById("myNavbar");
    if (x.className === "navbar") {
      // 注意要空一格，否則會連在一起就失效了
      x.className += " " + "responsive";
    } else {
      x.className = "navbar";
    }
  }
</script>