<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- google font -->
    <%= yield :header %>
  </head>

  <body>
    <%= render partial: '/layouts/header' %>
    <%= render partial: '/layouts/alert' %>
    <%= yield %>
  </body>
</html>
